<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConexItvsOt</title>
</head>
<body>
    <div>
            <h1>Conexión entre IT y OT</h1>
        <p>La conexión entre IT y OT es obligatoria para que la empresa pueda 
            conectar los datos de la parte de negocio e industrial en el mismo 
            lugar
        </p>

        <p>Por ejemplo en la planta industrial(OT), los sensores 
            detectan que falta materia prima, entonces el SCADA lo 
            registra y genera un aviso.

            En la parte IT el ERP recibe el aviso del SCADA y el
            sistema crea una orden para compra al proveedor.
        </p>
    </div>
</body>
</html>