<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>digitalización</title>
</head>
<body>
    
    <p>La digitalización es el proceso dónde una empresa transforma sus tareas físicas 
        en procesos y datos abstractos. Esto implicaria una organización más simple 
        y eficiente ya que los datos serán persistentes dónde se almacene y las tareas 
        serán más simples ya que se usaran herramientas digitales que te ayudan a 
        realizar cada trabajo que necesites.
    </p>
</body>
</html>