<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecno típica</title>
</head>
<body>
    <div>
        <h1>Tecnologías típicas</h1>
    </div>

    <div>
        <h2>Planta de producción(OT)</h2>
        <ul>
            <li>PLC</li>
            <li>SCADA</li>
        </ul>
    </div>

    <div>
        <h2>(IT)</h2>
        <ul>
            <li>ERP</li>
            <li>CRM</li>
        </ul>
    </div>
</body>
</html>