<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">
    <title>ComptItvsOt</title>
</head>
<header>
    <nav>
        <a href="../unidad1.html">Volver a la unidad 1</a>
    </nav>
</header>
<body>
    <div>
        <h1>Comparación entre IT y OT</h1>
        <table>
            <tr>
                <th>Tipo</th>
                <th>IT</th>
                <th>OT</th>
            </tr>
            <tr>
                <td>Objetivos</td>
                <td>Gestionar info,
                    procesos de negocio,
                    sistemas coporativos
                </td>
                <td>Controlar,automatizas procesos físicos</td>
                
            </tr>
            <tr>
                <td>Ámbito</td>
                <td>Oficinas,gestión,comerciales</td>
                <td>Sensores,líneas de producción,maquinaria</td>
            </tr>
            <tr>
                <td>Tecnologías</td>
                <td>ERP,CRM,base de datos</td>
                <td>PLC,DCS,SCADA</td>
            </tr>
            <tr>
                <td>Funciones</td>
                <td>Procesar datos,gestionar usuarios,
                    soportar aplicaciones
                </td>
                <td>Controlar procesos,
                    supervisar maquinaria,
                    ,mantenimiento predictivo
                </td>
            </tr>
            <tr>
                <td>Riegos</td>
                <td>Pérdida de datos,interrupción 
                    de los servicios
                </td>
                <td>Paras de producción, fallos de máquina,
                    riesgos para operarios.
                </td>
            </tr>
        </table>


    </div>
    

</body>
</html>