<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">


    <title>Department IT</title>
</head>
<header>
    <nav>
        <a href="../unidad1.html">Volver a la unidad 1</a>
    </nav>
</header>
<body>
    <div>
        <h1>Departamentos IT</h1>

    </div>

    <div>
        <div>
            <h2>Administración (ERP)</h2>
             <ul>
                <li>ERP</li>
                <li>Software de contabilidad</li>
                <li>Bases de datos</li>
            </ul>
        </div>
        
        <div>
            <h2> Marketing</h2>
            <ul>
                <li>CRM</li>
                <li>Plataformas de publicidad digital</li>
            
            </ul>
        </div>

        <div>
            <h2>Recursos humanos</h2>
            <ul>
                <li>Plataformas de reclutamiento</li>
                <li>Sistema de gestión de nóminas</li>
                <li>Portales de empleo</li>
            </ul>
        </div>


       

    </div>

   
</body>
</html>