<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">


    <title>Impacto organizativo</title>
</head>
<header>
    <nav>
        <a href="../unidad1.html">Volver a la unidad 1</a>
    </nav>
</header>
<body>

    <div>
        <h1>Impacto organizativo</h1>

         <p>
            El cambio a la digitalización de una empresa es un 
            cambio importante de la estructura entera de la empresa 
            porque hay un cambio grande en la forma de trabajar, en 
            la comunicación, en la toma de decisiones... Ya que la 
            informática te permite realizar el trabajo de formas 
            diferentes a la que se hacia anteriormente y con 
            ayuda la cuál te ahorrara tiempo.
        </p>


    </div>
   
</body>
</html>