<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">


    <title>Conclisones</title>
</head>
<header>
    <nav>
        <a href="../unidad1.html">Volver a la unidad 1</a>
    </nav>
</header>
<body>
    <div>
        <h1>Conclusiones personales</h1>

        <h3>¿Qué has aprendido sobre la importancia de la digitalización en el sistema productivo?</h3>
        <p>La digitalización se trata de una cambio obligatorio en la actualidad la cuál 
            es importante y a la vez peligrosa ya que es difícil de implementar ya que 
            necesitas una inversión grande para realizar estos cambios en la parte IT y OT
            Sin embargo si la logras conseguirlo vas a tener una estructura sólida en tu empresa
            que te va ahorrar mucho tiempo y responsabilidades para las siguientes décadas y 
            eso es un gusto.
        </p>
    </div>
</body>
</html>