<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="\css\style.css">


    <title>Document</title>
</head>
<header>
    <nav>
        <a id="klk" href="../unidad1.html">Volver a la unidad 1</a>
    </nav>
</header>
<body>
    <div>
        <h1>Ventajas de la digitalización</h1>
        <div>
            <h3>Mayor eficencia en producción</h3>
            <p>
                Los sistemas OT (PLC, SCADA, sensores) permiten automatizar tareas, reducir errores y optimizar el uso de maquinaria.
            Beneficio: menos paradas, menos desperdicio y más producción con los mismos recursos.
            </p>
        </div>
        <div>
            <h3>Logística más rápida y precisa</h3>
            <p>La digitalización conecta inventarios, almacenes y transporte con datos en tiempo real.
            Beneficio: se evitan roturas de stock, se optimizan rutas y se reduce el tiempo de entrega.</p>

        </div>
        <div>
            <h3>Administración automatizada y sin errores</h3>
            <p>Los sistemas IT (ERP, bases de datos, facturación digital) eliminan tareas manuales y duplicadas.
        Beneficio: menos errores administrativos, procesos más rápidos y mejor control financiero.</p>
        </div>
        <div>
            <h3>Ventas y atención al cliente más inteligentes</h3>
            <p>Los CRM y herramientas de análisis permiten conocer mejor al cliente y personalizar ofertas.
        Beneficio: aumento de ventas, fidelización y mejor experiencia del cliente.</p>
        </div>
        <div>
            <h3>Toma de decisiones basadas en datos reales</h3>
            <p>La integración IT–OT permite que dirección, producción y logística trabajen con la misma información.
            Beneficio: decisiones más rápidas, precisas y alineadas con la realidad de la empresa.</p>
        </div>
    </div>
</body>
</html>